# Ignoring the models that are accessed via the google-drive link
models/pcs_top1_qpcs_10_standard/
models/pcs_top1_qpcs_10_conformalized/
models/pcs_top1_qxgb_10_standard/
models/pcs_top1_qxgb_10_conformalized/
models/pcs_top1_pcs_10_standard/
models/pcs_top1_pcs_10_conformalized/


# Other auxiliary files
.Rproj.user
.vscode/
PCS_UQ/pcs_uq.egg-info/

# Ignore the pycache everywhere
pcs_ensemble/__pycache__/*
pcs_ensemble/scripts/__pycache__/*
src/clear/__pycache__/*